<main class="min-h-[var(--screen-height)] w-full bg-light2 dark:bg-dark2 gap-4 flex items-center px-4 pt-20 pb-6 flex-col lg:px-18 lg:pb-8 lg:pt-24 xl:pt-29 xl:px-41 xl:pb-16">
    <div class="lg:flex-row-reverse flex-col max-w-[1440px] flex-1 w-full flex gap-4 h-full">
        <div class="flex flex-col flex-2/5 h-fit items-end border border-light-border2 dark:border-dark-border2 rounded-lg p-2 md:p-4 gap-3 md:gap-4">
            <h2 class="text-dark-text3 dark:text-light-text3 text-sm md:text-base">محاسبه‌گر طلا</h2>
            <!-- Types -->
            <div  class="relative w-full text-sm">
                <button
                    #typesBtn
                    type="button"
                    (click)="toggleCalculatorTypeDropdown()"
                    class="dropdown-button-base"
                >
                <i [class.rotate-180]="calculatorTypeDropdownOpen()" class="bi bi-chevron-down dropdown-arrow-base"></i>
                <span class="dropdown-text-base" >{{ calculatorTypes[calculatorType()].title }}</span>
                </button>
                @if (calculatorTypeDropdownOpen()) {
                    <ul class="dropdown-items-container-base">
                    @for (type of calculatorTypes; track type.id) {
                        <li>
                        <button
                            #fromBtn
                            type="button"
                            (click)="selectCalculatorType(type)"
                            class="dropdown-single-item-base"
                        >
                            {{ type.title }}
                        </button>
                        </li>
                    }
                    </ul>
                }
            </div>

            @if (calculatorType() === 0) {
                <!-- Gold Types -->
                <div class="w-full text-right">
                    <p class="dropdown-title-base">نوع طلا</p>
                    <div  class="relative w-full text-sm">
                        <button
                            #goldBtn
                            type="button"
                            (click)="toggleGoldTypeDropdown()"
                            class="dropdown-button-base"
                        >
                        <i [class.rotate-180]="currentGoldTypeDropdownOpen()" class="bi bi-chevron-down dropdown-arrow-base"></i>
                        <span class="dropdown-text-base" >{{ goldTypes[currentGoldType()].title }}</span>
                        </button>
                        @if (currentGoldTypeDropdownOpen()) {
                            <ul class="dropdown-items-container-base">
                            @for (type of goldTypes; track type.id) {
                                <li>
                                    <button
                                        type="button"
                                        (click)="selectGoldType(type)"
                                        class="dropdown-single-item-base"
                                    >
                                        {{ type.title }}
                                    </button>
                                </li>
                            }
                            </ul>
                        }
                    </div>
                </div>
                <!-- Gold Input -->
                <div class="w-full text-right">
                    <div class="relative flex flex-row-reverse gap-2">
                        <p class="dropdown-title-base">قیمت طلا</p>
                        <div class="group h-full flex justify-center items-start {{ currentGoldType() === 2 ? 'visible' : 'invisible' }}"> 
                            <span class="z-[2] pointer-events-none group-hover:not-target:opacity-100 opacity-0 duration-300 flex bg-light-border dark:bg-dark-border absolute flex-col top-0 right-[-0.7rem] md:right-[-0.98rem] h-13 justify-center items-end w-40.5 md:w-47 top-speech-bubble">
                                <p class="rtl text-dark-text dark:text-light-text text-xs md:text-sm leading-4.5 md:leading-5">محاسبه‌شده از قیمت مثقال طلای آب شده ÷ 4.608</p>
                            </span>
                            <i class="hover:cursor-pointer z-[2] bi bi-info-circle-fill text-2xs md:text-sm text-dark-text2 dark:text-light-text2 relative"></i>
                        </div>
                    </div>
                    <div class="relative w-full">
                        @if (goldValueComputed$ | async; as goldValue) {
                            <p class="input-unit-base">تومان</p>
                            <input
                                autocomplete="off"
                                maxlength="19"
                                placeholder="0"
                                [value]="goldValue"
                                (input)="onGoldInputChange($event)"
                                type="text"
                                commafyNumber
                                class="input-base rtl"
                            >
                        }
                    </div>
                </div>
                <div class="w-full flex flex-row-reverse gap-4">
                    <!-- Weight Input -->
                    <div class="w-full text-right">
                        <p class="dropdown-title-base">وزن</p>
                        <div class="relative w-full">
                            <p class="input-unit-base">{{ goldTypes[currentGoldType()].weightUnit }}</p>
                            @if (weightValue$ | async; as weightValue) {
                                <input autocomplete="off" maxlength="16" placeholder="0" (input)="onWeightInputChange($event)" [value]="weightValue" type="text" commafyNumber class="input-base rtl">
                            }
                        </div>
                    </div>
                    <!-- Wage Input -->
                    <div class="w-full text-right">
                        <div class="relative flex flex-row-reverse gap-2">
                            <p class="dropdown-title-base">اجرت</p>
                            <div class="group h-full flex justify-center items-start"> 
                                <span class="z-[3] pointer-events-none group-hover:not-target:opacity-100 opacity-0 duration-300 flex bg-light-border dark:bg-dark-border absolute flex-col justify-center items-end w-55 md:w-70 top-speech-bubble top-0 h-13">
                                    <p class="rtl text-dark-text dark:text-light-text text-xs md:text-sm leading-4.5 md:leading-5">بصورت پیشفرض، طلای 18 و 24 عیار اجرت 7 درصد دارند و مابقی صفر درصد</p>
                                </span>
                                <i class="hover:cursor-pointer z-[2] bi bi-info-circle-fill text-2xs md:text-sm text-dark-text2 dark:text-light-text2 relative"></i>
                            </div>
                        </div>
                        <div class="relative w-full">
                            <p class="input-unit-base">درصد</p>
                            @if (wageValue$ | async; as wageValue) {
                                <input autocomplete="off" maxlength="16" placeholder="0" [value]="wageValue" (input)="onWageInputChange($event)" type="text" commafyNumber class="input-base rtl">
                            }
                        </div>
                    </div>
                </div>
                <!-- Tax Input -->
                <div class="w-full text-right">
                    <div class="relative flex flex-row-reverse gap-2">
                        <p class="dropdown-title-base">مالیات بر ارزش افزوده</p>
                        <div class="group h-full flex justify-center items-start"> 
                            <span class="z-[2] pointer-events-none group-hover:not-target:opacity-100 opacity-0 duration-300 flex bg-light-border dark:bg-dark-border absolute flex-col top-0 h-12 justify-center items-end w-auto top-speech-bubble">
                                <p class="rtl text-dark-text dark:text-light-text text-xs md:text-sm leading-4.5 md:leading-5">بصورت پیشفرض، 10 درصد است</p>
                            </span>
                            <i class="hover:cursor-pointer z-[2] bi bi-info-circle-fill text-2xs md:text-sm text-dark-text2 dark:text-light-text2 relative"></i>
                        </div>
                    </div>
                    <div class="relative w-full">
                        <p class="input-unit-base">درصد</p>
                        @if (taxValue$ | async; as taxValue) {
                            <input autocomplete="off" maxlength="16" placeholder="0" [value]="taxValue" (input)="onTaxInputChange($event)" type="text" commafyNumber class="input-base rtl">
                        }
                    </div>
                </div>
                <!-- Profit Input -->
                <div class="w-full text-right">
                    <div class="relative flex flex-row-reverse gap-2">
                        <p class="dropdown-title-base">سود فروشنده</p>
                        <div class="group h-full flex justify-center items-start"> 
                            <span class="z-[2] pointer-events-none group-hover:not-target:opacity-100 opacity-0 duration-300 flex bg-light-border dark:bg-dark-border absolute flex-col top-0 h-12 justify-center items-end w-45 md:w-52 top-speech-bubble">
                                <p class="rtl text-dark-text dark:text-light-text text-xs md:text-sm leading-4.5 md:leading-5">بصورت پیشفرض، 3 درصد است</p>
                            </span>
                            <i class="hover:cursor-pointer z-[2] bi bi-info-circle-fill text-2xs md:text-sm text-dark-text2 dark:text-light-text2 relative"></i>
                        </div>
                    </div>
                    <div class="relative w-full">
                        <p class="input-unit-base">{{ profitType() === 0 ? 'درصد' : 'تومان' }}</p>
                        @if (profitValue$ | async; as profitValue) {
                            <input autocomplete="off" maxlength="16" placeholder="0" [value]="profitValue" (input)="onProfitInputChange($event)" type="text" commafyNumber class="input-base rtl">
                        }
                    </div>
                </div>
                <div class="flex justify-start gap-4 w-full">
                    <button (click)="changeProfitType(0)" class="related-type-button w-full xs:w-auto lg:w-full {{ profitType() === 0 ? 'border text-sorting-green-light dark:text-sorting-green-dark border-green-btn bg-white dark:bg-dark-border2' : 'dark:text-white text-light-text2' }}">درصد</button>
                    <button (click)="changeProfitType(1)" class="related-type-button w-full xs:w-auto lg:w-full {{ profitType() === 1 ? 'border text-sorting-green-light dark:text-sorting-green-dark border-green-btn bg-white dark:bg-dark-border2' : 'dark:text-white text-light-text2' }}">تومان</button>
                </div>
            }
            @else {
                <!-- Ounce Types -->
                <div class="w-full text-right">
                    <p class="dropdown-title-base">واحد طلا</p>
                    
                    <div  class="relative w-full text-sm">
                        <button
                            #ounceBtn
                            type="button"
                            (click)="toggleOunceTypeDropdown()"
                            class="dropdown-button-base"
                        >
                        <i [class.rotate-180]="currentOunceTypeDropdownOpen()" class="bi bi-chevron-down dropdown-arrow-base"></i>
                        <span class="dropdown-text-base" >{{ ounceTypes[currentOunceType()].title }}</span>
                        </button>
                        @if (currentOunceTypeDropdownOpen()) {
                            <ul class="dropdown-items-container-base">
                            @for (type of ounceTypes; track type.id) {
                                <li>
                                    <button
                                        type="button"
                                        (click)="selectOunceType(type)"
                                        class="dropdown-single-item-base"
                                    >
                                        {{ type.title }}
                                    </button>
                                </li>
                            }
                            </ul>
                        }
                    </div>
                </div>
                <!-- Weight Input -->
                <div class="w-full text-right">
                    <p class="dropdown-title-base">وزن</p>
                    <div class="relative w-full">
                        <p class="input-unit-base">{{ ounceTypes[currentOunceType()].title }}</p>
                        @if (weightValue$ | async; as weightValue) {
                            <input autocomplete="off" maxlength="16" placeholder="0" [value]="weightValue" commafyNumber (input)="onWeightInputChange($event)" type="text" commafyNumber class="input-base rtl">
                        }
                    </div>
                </div>
            }
        </div>

        <div class="flex flex-col flex-3/5 border border-light-border2 dark:border-dark-border2 p-2 md:p-4 rounded-lg leading-[180%] h-fit">
            <div class="w-full items-center justify-start rtl gap-1 flex flex-col pb-2 md:py-3">
                @if (calculatorType() === 0) {
                    <span class="w-full flex justify-start text-dark-text dark:text-light-text font-bold text-sm md:text-base gap-2 mb-1">
                        قیمت نهایی:&nbsp;
                        @if (totalGoldValue$ | async; as totalGoldValue) {
                            <p class="text-dark dark:text-light">{{ totalGoldValue }}</p>
                            <p class="text-dark-text4 dark:text-light-text4">تومان</p>
                        }
                        <!-- <span class="skeleton-base {{ gram18Value() ? 'hidden' : 'block' }}">قیمت نهایی</span> -->
                    </span>
                    <span class="w-full flex justify-start text-dark-text dark:text-light-text text-sm md:text-base gap-2 mb-1">
                        قیمت طلا:&nbsp;
                        @if (mainGoldValue$ | async; as mainGoldValue) {
                            <p class="text-dark font-bold dark:text-light text-xs md:text-sm">{{ mainGoldValue }}</p>
                            <p class="text-dark-text4 dark:text-light-text4 text-xs md:text-sm">تومان</p>
                        }
                        <!-- <span class="text-xs md:text-sm skeleton-base {{ gram18Value() ? 'hidden' : 'block' }}">قیمت طلا</span> -->
                    </span>
                    <span class="w-full flex justify-start text-dark-text dark:text-light-text text-sm md:text-base gap-2 mb-1">
                        اجرت:&nbsp;
                        @if (totalWageValue$ | async; as totalWageValue) {
                            <p class="text-dark font-bold dark:text-light text-xs md:text-sm">{{ totalWageValue }}</p>
                            <p class="text-dark-text4 dark:text-light-text4 text-xs md:text-sm">تومان</p>
                        }
                        <!-- <span class="text-xs md:text-sm skeleton-base {{ gram18Value() ? 'hidden' : 'block' }}">اجرت طلا</span> -->
                    </span>
                    <span class="w-full flex justify-start text-dark-text dark:text-light-text text-sm md:text-base gap-2 mb-1">
                        مالیات:&nbsp;
                        @if (totalTaxValue$ | async; as totalTaxValue) {
                            <p class="text-dark font-bold dark:text-light text-xs md:text-sm">{{ totalTaxValue }}</p>
                            <p class="text-dark-text4 dark:text-light-text4 text-xs md:text-sm">تومان</p>
                        }
                        <!-- <span class="text-xs md:text-sm skeleton-base {{ gram18Value() ? 'hidden' : 'block' }}">مالیات طلا</span> -->
                    </span>
                    <span class="w-full flex justify-start text-dark-text dark:text-light-text text-sm md:text-base gap-2 mb-1">
                        سود فروشنده:&nbsp;
                        @if (totalProfitValue$ | async; as totalProfitValue) {
                            <p class="text-dark font-bold dark:text-light text-xs md:text-sm">{{ totalProfitValue }}</p>
                            <p class="text-dark-text4 dark:text-light-text4 text-xs md:text-sm">تومان</p>
                        }
                        <!-- <span class="text-xs md:text-sm skeleton-base {{ gram18Value() ? 'hidden' : 'block' }}">سود فروشنده</span> -->
                    </span>
                }
                @else {
                    <span class="w-full flex justify-start text-dark-text dark:text-light-text text-sm md:text-base gap-2 mb-1">
                        @if (weightValue$ | async; as weightValue) {
                            <p class="text-dark font-bold dark:text-light">{{ weightValue }}</p>
                        }
                        <p class="text-dark-text4 font-bold dark:text-light-text4">{{ ounceTypes[currentOunceType()].title }}</p>
                        برابر است با:
                    </span>
                    <span class="w-full flex flex-col justify-start text-dark-text dark:text-light-text text-xs md:text-sm gap-2">
                        @for (ounceValue of ounceTypes; track ounceValue.id) {
                            @if (ounceValue.id !== currentOunceType()) {
                                <span class="flex gap-2">
                                    <p class="text-dark font-bold dark:text-light text-sm md:text-base {{ ounceValue.id == 0 ? 'font-bold' : '' }}">{{ ounceValue.value }}</p>
                                    <p class="text-dark-text4 dark:text-light-text4 {{ ounceValue.id == 0 ? 'font-bold text-sm md:text-base' : 'text-xs md:text-sm' }}">{{ ounceValue.title }}</p>
                                </span>
                            }
                        }
                    </span>
                }
            </div>
            <hr class="border border-light-text4 dark:border-dark-text2">
            <span class="grid grid-cols-12 w-full rtl py-1 md:py-2 mb-2">
                <p class="text-dark-text2 dark:text-light-text2 text-xs leaading-[180%] col-span-4">عنوان</p>
                <p class="text-dark-text2 dark:text-light-text2 text-xs leaading-[180%] col-span-4 md:col-span-3">قیمت تومانی</p>
                <p class="text-dark-text2 dark:text-light-text2 text-xs leaading-[180%] col-span-3">قیمت دلاری</p>
            </span>
            @if (relatedItems$ | async; as relatedList) {
                @for (item of relatedList; track $index) {
                    <app-converter-item class="w-full z-[1] {{ $index != 2 ? 'mb-1' : 'mb-0' }}" [currencyItem]="item" />
                }
            }
            <!-- <app-converter-item-skeleton class="w-full mb-1 z-[4] {{ gram18Value() ? 'hidden' : 'block' }}" /> -->
            <!-- <app-converter-item-skeleton class="w-full mb-1 z-[4] {{ gram18Value() ? 'hidden' : 'block' }}" /> -->
            <!-- <app-converter-item-skeleton class="w-full z-[4] {{ gram18Value() ? 'hidden' : 'block' }}" /> -->
        </div>
            
    </div>
</main>