<div animate.enter="enter-animation" [class]="notificationService.styleClasses()" animate.leave="leave-animation" #successMsg class="transform fixed w-[75%] sm:w-auto px-[1.3rem] top-5 right-5 h-12 flex justify-between gap-0 sm:gap-20 items-center z-20 border rounded-semi border-popup-border-green-light dark:border-popup-border-green-dark bg-popup-green-light dark:bg-popup-green-dark text-sm text-dark-text dark:text-light-text">
    <i (click)="remove()" class="bi bi-x-lg hover:cursor-pointer"></i>
    {{ current?.message }}
</div>