<main class="min-h-[var(--screen-height)] w-full bg-theme-white dark:bg-theme-black gap-4 flex items-center px-4 pt-20 pb-6 flex-col lg:px-18 lg:pb-8 lg:pt-24 xl:pt-29 xl:px-41 xl:pb-16">
    
    <div class="2xl:flex-row-reverse flex-col max-w-[1440px] flex-1 w-full flex gap-4 h-full">
        <div class="flex flex-col h-fit items-end border border-light-border2 dark:border-dark-border2 rounded-lg p-2 md:p-4 gap-3 md:gap-4">
            <h2 class="text-dark-text3 dark:text-light-text3 text-sm md:text-base">مبدل ارز</h2>
            <!-- Types -->
            <div #typesBtn class="relative md:max-w-[var(--input-max-width)] w-full 2xl:min-w-62 text-sm">
                <button
                    type="button"
                    (click)="toggleCurrencyTypeDropdown()"
                    class="w-full flex justify-between items-center
                        px-5 py-3.5 rounded-lg border border-dark-text2 dark:border-light-text2 outline-0
                        text-dark-text dark:text-light-text
                        hover:bg-light-text hover:dark:bg-dark-text
                        text-sm font-medium hover:cursor-pointer"
                >
                  <i [class.rotate-180]="currencyDropdownOpen()" class="bi text-xs bi-chevron-down transition-transform"></i>
                  <span class="flex items-end gap-4 max-h-min" >{{ currencyTypes[currencyType()].title }}</span>
                </button>
                @if (currencyDropdownOpen()) {
                    <ul class="absolute z-[3] w-full rounded-lg text-dark-text dark:text-light-text overflow-hidden border border-light-text dark:border-dark-text bg-light-text dark:bg-dark-text">
                      @for (type of currencyTypes; track type.id) {
                        <li>
                          <button
                            #fromBtn
                            type="button"
                            (click)="selectCurrencyTypeDropdown(type)"
                            class="w-full text-right px-4 py-2.5 hover:bg-light-text3 hover:dark:bg-dark-border2 hover:cursor-pointer"
                          >
                            {{ type.title }}
                          </button>
                        </li>
                      }
                    </ul>
                }
            </div>
            <div class="flex flex-col-reverse md:flex-row w-full h-max gap-2 items-center justify-end">
              <!-- To -->
              <div #toBtn class="relative md:max-w-1/2 w-full 2xl:min-w-62 text-sm">
                  <button
                    type="button"
                    [disabled]="mainFromList().length === 0"
                    (click)="toggleToDropdown()"
                    class="w-full flex justify-between items-center
                        px-5 py-2 rounded-lg border border-dark-text2 dark:border-light-text2 outline-0
                        text-dark-text3 dark:text-light-text3
                        text-sm font-medium hover:bg-light-text hover:dark:bg-dark-text hover:cursor-pointer
                        {{ mainFromList().length === 0 ? 'min-h-[49.6px] animate-pulse bg-light-border dark:bg-dark-border' : ''}}"
                  >
                    <i [class.rotate-180]="toDropdownOpen()" class="bi text-xs bi-chevron-down transition-transform"></i>
                    @if (mainFromList().length) {
                      <app-search-item [item]="toItem()" />
                    }
                  </button>
                  @if (toDropdownOpen()) {
                    <div class="absolute overflow-hidden flex flex-col z-[2] max-h-64 pt-2.5 w-full rounded-lg text-dark-text3 dark:text-light-text3 border border-light-text dark:border-dark-text bg-light-text dark:bg-dark-text">
                      
                      <div class="relative w-full h-10 text-sm leading-10 mb-3 px-5">
                          <svg
                              viewBox="0 -0.24 28.423 28.423" class="absolute right-5 top-1/2 -translate-1/2 w-5 h-5 fill-light-text2 dark:fill-dark-text2" xmlns="http://www.w3.org/2000/svg">
                              <path id="Path_215" data-name="Path 215" d="M14.953,2.547A12.643,12.643,0,1,0,27.6,15.19,12.649,12.649,0,0,0,14.953,2.547Zm0,2A10.643,10.643,0,1,1,4.31,15.19,10.648,10.648,0,0,1,14.953,4.547Z" transform="translate(-2.31 -2.547)" fill-rule="evenodd"/>
                              <path id="Path_216" data-name="Path 216" d="M30.441,28.789l-6.276-6.276a1,1,0,1,0-1.414,1.414L29.027,30.2a1,1,0,1,0,1.414-1.414Z" transform="translate(-2.31 -2.547)" fill-rule="evenodd"/>
                          </svg>
                          <input type="text" (input)="filterToList($event)" class="rtl h-full focus:border-green-btn transition duration-300 ease-out pl-[0.8rem] pr-[2.7rem] rounded-semi outline-none bg-transparent border border-light-text2 dark:border-dark-text2 text-light-text2 dark:text-dark-text2 w-full text-right select-none" placeholder="جستجو در {{ mainToList()[1].faGroupName }}" >
                      </div>

                      <ul class="flex flex-col scroll-hide overflow-y-scroll">
                        @for (currentItem of currentToList(); track currentItem.id) {
                            @if (currentItem.id !== fromItem().id) {
                              <li (click)="onSelectToItem(currentItem?.slugText!)" class="py-1.5 hover:cursor-pointer px-5 hover:bg-light-text3 hover:dark:bg-dark-border2">
                                <app-search-item [item]="currentItem" />
                              </li>
                            }
                        }
                      </ul>
                    </div>
                  }
              </div>

              <div class="relative h-full py-2">
                <button [disabled]="currencyType() == 2" (click)="swipeCurrencies()" class="px-2 h-full py-1 {{ currencyType() == 2 ? 'opacity-30' : 'opacity-100' }} disabled:pointer-events-none not-disabled:hover:cursor-pointer md:rotate-0 rotate-90 not-disabled:hover:bg-light-text3 not-disabled:hover:dark:bg-dark-border2 rounded-md text-dark-text3 dark:text-light-text3">
                  <i class="bi bi-arrow-left-right"></i>
                </button>

                <div class="group top-[-0.1rem] left-0 h-full flex justify-center items-start absolute  {{ currencyType() == 2 ? 'visible' : 'invisible' }} "> 
                    <span class="z-[2] pointer-events-none group-hover:not-target:opacity-100 opacity-0 duration-300 flex bg-light-border dark:bg-dark-border absolute flex-col top-0 h-12 justify-center items-end w-45 top-speech-bubble">
                        <p class="rtl text-dark-text dark:text-light-text text-xs md:text-sm leading-4.5 md:leading-5">تبدیل فقط از ارز دیجیتال به ارز پشتیبانی می‌شود</p>
                    </span>
                    <i class="hover:cursor-pointer z-[2] bi bi-info-circle-fill text-2xs md:text-sm text-dark-text2 dark:text-light-text2 relative"></i>
                </div>
              </div>
              <!-- From -->
              <div #fromBtn class="relative md:max-w-1/2 w-full 2xl:min-w-62 text-sm">
                  <button
                      type="button"
                      [disabled]="mainFromList().length === 0"
                      (click)="toggleFromeDropdown()"
                      class="w-full flex justify-between items-center
                          px-5 py-2 rounded-lg border border-dark-text2 dark:border-light-text2 outline-0
                          text-dark-text3 dark:text-light-text3
                          hover:bg-light-text hover:dark:bg-dark-text
                          text-sm font-medium hover:cursor-pointer
                          {{ mainFromList().length === 0 ? 'min-h-[49.6px] animate-pulse bg-light-border dark:bg-dark-border' : ''}}"
                  >
                    <i [class.rotate-180]="fromDropdownOpen()" class="bi text-xs bi-chevron-down transition-transform"></i>
                    @if (mainFromList().length) {
                      <app-search-item [item]="fromItem()" />
                    }
                  </button>
                  @if (fromDropdownOpen()) {
                    <div class="absolute overflow-hidden flex flex-col z-[2] max-h-64 pt-2.5 w-full rounded-lg text-dark-text3 dark:text-light-text3 border border-light-text dark:border-dark-text bg-light-text dark:bg-dark-text">
                      <div class="relative w-full h-10 text-sm leading-10 px-5 mb-3">
                        <svg
                            viewBox="0 -0.24 28.423 28.423" class="absolute right-5 top-1/2 -translate-1/2 w-5 h-5 fill-light-text2 dark:fill-dark-text2" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path_215" data-name="Path 215" d="M14.953,2.547A12.643,12.643,0,1,0,27.6,15.19,12.649,12.649,0,0,0,14.953,2.547Zm0,2A10.643,10.643,0,1,1,4.31,15.19,10.648,10.648,0,0,1,14.953,4.547Z" transform="translate(-2.31 -2.547)" fill-rule="evenodd"/>
                            <path id="Path_216" data-name="Path 216" d="M30.441,28.789l-6.276-6.276a1,1,0,1,0-1.414,1.414L29.027,30.2a1,1,0,1,0,1.414-1.414Z" transform="translate(-2.31 -2.547)" fill-rule="evenodd"/>
                        </svg>  
                        <input type="text" (input)="filterFromList($event)" class="rtl h-full focus:border-green-btn transition duration-300 ease-out pl-[0.8rem] pr-[2.7rem] rounded-semi outline-none bg-transparent border border-light-text2 dark:border-dark-text2 text-light-text2 dark:text-dark-text2 w-full text-right select-none" placeholder="جستجو در {{ mainFromList()[1].faGroupName }}" >
                      </div>

                      <ul class="flex flex-col scroll-hide overflow-y-scroll">
                        @for (currentItem of currentFromList(); track currentItem.id) {
                          @if (currentItem.id !== toItem().id) {
                            <li (click)="onSelectFromItem(currentItem?.slugText!)" class="py-1.5 px-5 hover:cursor-pointer hover:bg-light-text3 hover:dark:bg-dark-border2">
                              <app-search-item [item]="currentItem" />
                            </li>
                          }
                        }
                      </ul>
                    </div>
                  }
              </div>
            </div>
            <!-- Input -->
            <div class="w-full text-right">
              <p class="text-dark-text3 dark:text-light-text3 text-xs md:text-sm mb-3">مقدار مورد نظر را وارد کنید</p>
              <div class="relative w-full">
                <p class="leading-[180%] absolute left-5 top-1/2 -translate-y-1/2 text-dark-text dark:text-light-text text-xs md:text-sm">{{fromItem().shortedName}}</p>
                <input maxlength="16" (input)="onInputChange($event)" [(ngModel)]="inputValue" type="text" commafyNumber class="focus:border-green-btn transition duration-300 ease-out leading-[180%] w-full text-xs md:text-sm text-dark-text dark:text-light-text text-right h-[49.6px] rtl pr-5 pl-14 py-2.75 rounded-lg border border-dark-text2 dark:border-light-text2 outline-0">
              </div>
            </div>
        </div>
        <div class="flex flex-col flex-1 border border-light-border2 dark:border-dark-border2 p-2 md:p-4 rounded-lg leading-[180%] h-fit min-h-[286.4px]">
          <div class="w-full items-center justify-center rtl gap-1 flex xs:flex-row flex-col pb-2 md:py-3">
              <span class="flex items-center gap-1">
                @if (mainFromList().length) {
                  <p class="text-dark font-bold dark:text-light text-sm md:text-base">{{ inputValue() || 1 }}</p>
                }
                <span class="font-bold ext-sm md:text-base rounded-lg text-transparent animate-pulse bg-light-border dark:bg-dark-border z-[2] {{ mainFromList().length ? 'hidden' : 'block' }}" >item value</span>
                @if (mainFromList().length) {
                  <p class="text-dark-text4 dark:text-light-text4 text-xs md:text-sm">{{ fromItem().shortedName }}</p>
                }
              </span>
              <p class="text-dark-text dark:text-light-text text-xs md:text-sm">برابر است با&nbsp;</p>
              <span class="flex items-center gap-1">
                @if (mainFromList().length) {
                  <p class="text-dark font-bold dark:text-light text-sm md:text-base" >{{ convertedValue() }}</p>
                }
                <span class="font-bold ext-sm md:text-base rounded-lg text-transparent animate-pulse bg-light-border dark:bg-dark-border z-[2] {{ mainFromList().length ? 'hidden' : 'block' }}" >item value</span>
                @if (mainFromList().length) {
                  <p class="text-dark-text4 dark:text-light-text4 text-xs md:text-sm">{{ toItem().shortedName }}</p>
                }
              </span>
          </div>
          <hr class="border border-light-text4 dark:border-dark-text2">
          <span class="grid grid-cols-12 w-full rtl py-1 md:py-2 mb-2">
            <p class="text-dark-text2 dark:text-light-text2 text-xs leaading-[180%] col-span-4">عنوان</p>
            <p class="text-dark-text2 dark:text-light-text2 text-xs leaading-[180%] col-span-4 md:col-span-3">قیمت تومانی</p>
            <p class="text-dark-text2 dark:text-light-text2 text-xs leaading-[180%] col-span-3">قیمت دلاری</p>
          </span>
          @if (mainFromList().length) {
            <app-converter-item class="w-full mb-1" [currencyItem]="fromItem()" />
            <app-converter-item class="w-full" [currencyItem]="toItem()" />
          }
          <app-converter-item-skeleton class="w-full mb-1 z-[3] {{ mainFromList().length ? 'hidden' : 'block' }}" />
          <app-converter-item-skeleton class="w-full z-[3] {{ mainFromList().length ? 'hidden' : 'block' }}" />
        </div>
    </div>
</main>