<article class="w-full justify-center flex-1 px-3 lg:px-0 lg:pt-1 pb-2 lg:pl-2 flex items-center hover:cursor-pointer lg:hover:bg-light-text3 lg:rounded-lg lg:hover:dark:bg-dark-text {{index !== 4 ? 'border-b border-light-border2 dark:border-dark-border2 lg:border-b-0' : ''}}">
    <div class="flex flex-1 flex-col">
        <div class="flex w-full items-center justify-between">
            <span class="font-normal text-sm leading-[180%] text-transparent rounded-lg animate-pulse bg-light-border dark:bg-dark-border">some changes</span>
            <span class="line-clamp-2 text-ellipsis text-right rtl text-xs font-medium leading-[180%] text-transparent rounded-lg animate-pulse bg-light-border dark:bg-dark-border">some title</span>
        </div>
        <div class="flex w-full items-center justify-between">
            <span class="text-xs font-normal leading-[180%] text-transparent rounded-lg animate-pulse bg-light-border dark:bg-dark-border">some price</span>
            <span class="text-right text-xs font-normal leading-[180%] text-transparent rounded-lg animate-pulse bg-light-border dark:bg-dark-border">shorted Name</span>
        </div>
    </div>
    <span class="w-11 h-11 rounded-full ml-2.5 animate-pulse bg-light-border dark:bg-dark-border"></span>
    
</article>