<div class="relative flex flex-col w-full h-full bg-light2 dark:bg-theme-black rounded-lg overflow-hidden font-sans mb-6 lg:mb-10">
  
    <div class="{{ historyData ? 'flex flex-row-reverse' : 'hidden' }} gap-4 relative justify-between px-5 py-3 border-b border-light-text3 dark:border-dark-text3">

      <button (click)="toggleTimeFrame()" class="hover:cursor-pointer text-dark-text3 dark:text-light-text3 hover:text-dark hover:dark:text-light duration-300 ease-in-out text-xs md:text-sm flex items-center justify-center gap-2">
        تغییر بازه (تقویمی)
        <i class="bi bi-calendar4 text-lg"></i>
      </button>
      
      <button
        class="hover:cursor-pointer text-dark-text3 dark:text-light-text3 hover:text-dark hover:dark:text-light duration-300 ease-in-out text-xs md:text-sm flex items-center justify-center gap-2" (click)="resetToRaw()">
        <i class="bi bi-arrow-counterclockwise text-lg"></i>
        نمودار پیشفرض
      </button>
    </div>
  
    <div class="relative w-full {{ historyData ? 'hidden' : 'flex' }} rounded-lg z-0 h-75 md:h-94 text-transparent animate-pulse bg-light-border dark:bg-dark-border"></div>

    <div #chartContainer id="chartContainer" class="relative {{ historyData ? 'flex' : 'hidden' }} w-full z-0 h-63 md:h-82 font-iranyekan text-light-text4 dark:text-dark-text4">
      <div class="absolute {{ chartType() === 0 ? 'opacity-0 md:opacity-100' : 'opacity-0' }} left-0 top-0 hidden md:flex flex-col items-start gap-0.5 p-1 z-[2]">
        <div class="flex items-center gap-2 bg-[#f4f4f4ac] dark:bg-[#1b1b1bac] py-0.5 px-2">
          <span
            class="text-xs font-mono font-medium"
            [ngClass]="isPositive() ? 'text-trade-green' : 'text-trade-red'">
            {{ currentPrice() }}
          </span>
        
          <span
            class="text-xs font-medium flex"
            [ngClass]="isPositive() ? 'text-trade-green' : 'text-trade-red'">
            {{ priceChange() }}
          </span>
          <span
            class="text-xs font-medium flex"
            [ngClass]="isPositive() ? 'text-trade-green' : 'text-trade-red'">
            {{ close() }}<p class="text-dark dark:text-light text-xs">C</p>
          </span>
          <span
            class="text-xs font-medium flex"
            [ngClass]="isPositive() ? 'text-trade-green' : 'text-trade-red'">
            {{ low() }}<p class="text-dark dark:text-light text-xs">L</p>
          </span>
          <span
            class="text-xs font-medium flex"
            [ngClass]="isPositive() ? 'text-trade-green' : 'text-trade-red'">
            {{ high() }}<p class="text-dark dark:text-light text-xs">H</p>
          </span>
          <span
            class="text-xs font-medium flex"
            [ngClass]="isPositive() ? 'text-trade-green' : 'text-trade-red'">
            {{ open() }}<p class="text-dark dark:text-light text-xs">O</p>
          </span>
        </div>
        <div>
          <span
            class="text-xs font-medium flex bg-[#f4f4f4ac] dark:bg-[#1b1b1bac] py-0.5 px-2"
            [ngClass]="isPositive() ? 'text-trade-green' : 'text-trade-red'">
            <p class="text-dark dark:text-light text-xs">حجم تقریبی:&nbsp;</p>{{ volume() }}
          </span>
        </div>
      </div>
      <div class="absolute right-0 top-0 {{ timeFramePanelOpened() ? 'flex' : 'hidden' }} flex-col max-h-full items-end gap-0.5 p-1 z-[3] bg-[#f4f4f4ac] dark:bg-[#1b1b1bac]">
        <div class="flex flex-col gap-2 py-2">
          @for (p of presets; track p.label) {
            <button
              appTooltip="{{p.title}}"
              id="preset"
              class="rtl px-15 hover:cursor-pointer text-sm text-dark-text2 dark:text-light-text2 hover:text-dark hover:dark:text-light duration-300 ease-in-out"
              (click)="selectPreset(p)">
              {{ p.label }}
            </button>
          }
        </div>

      </div>
    </div>
   
</div>