/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


* {
    box-sizing: border-box;
    font-family: 'IranYekan';
}

:root {
    --bg-speech: #a7a9a8;

    --theme-white: #e9e9e9;
    --theme-black: #1a1a1a;
    
    --background: #ffffff;
    --foreground: #171717;

    --error-dark: #ba062b;
    --error-light: #fa5358;
    
    
    /* light/dark */
    --light-theme: #fafefd;
    --dark-theme: #121212;

    --light-theme2: #fcfcfd;
    --dark-theme2: #111;

    --light-border: #a7a9a8;
    --dark-border: #292a2a;

    --light-hover: #f1f5f4;
    --dark-hover: #1b1b1b;

    --light-text: #f2f2f2;
    --dark-text: #222;

    --dark-highlight: #202020;
    --light-highlight: #e7ebea;

    --light-text2: #949696;
    --dark-text2: #818383;

    --light-text3: #d5d8d7;
    --dark-text3: #676767;

    --light-text4: #b2b2b2;
    --dark-text4: #666;

    --dark-green-text: #1dbb7e;
    --dark-red-text: #d02633;

    --light-green-text: #1eb980;
    --light-red-text: #eb3740;

    --sorting-green-dark: #4ef09d;
    --sorting-green-light: #02a67f;

    --popup-green-light: #eaf7ea;
    --popup-green-dark: #0d1a16;

    --popup-border-green-dark: #00412d;
    --popup-border-green-light: #ade2c0;


    --green-btn: #00d890;
    --yellow-star: #e7c400;

    --margin: 2rem;

    &:where(html.dark, html.dark *) {
        --bg-speech: #292a2a;
    }

}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  
    --color-error-dark: var(--error-dark);
    --color-error-light: var(--error-light);
    
    /* light/dark */
    --color-light: var(--light-theme);
    --color-dark: var(--dark-theme);

    
    --color-light2: var(--light-theme2);
    --color-dark2: var(--dark-theme2);

    --color-theme-white: var(--theme-white);
    --color-theme-black: var(--theme-black);

    --color-light-border: var(--light-border);
    --color-dark-border: var(--dark-border);

    --color-light-hover: var(--light-hover);
    --color-dark-hover: var(--dark-hover);
    
    --color-light-text: var(--light-text);
    --color-dark-text: var(--dark-text);

    --color-dark-highlight: var(--dark-highlight);
    --color-light-highlight: var(--light-highlight);
    
    --color-light-text2: var(--light-text2);
    --color-dark-text2: var(--dark-text2);
    
    --color-light-text3: var(--light-text3);
    --color-dark-text3: var(--dark-text3);
    
    --color-light-text4: var(--light-text4);
    --color-dark-text4: var(--dark-text4);


    --color-dark-green-text: var(--dark-green-text);
    --color-dark-red-text: var(--dark-red-text);
    
    --color-light-green-text: var(--light-green-text);
    --color-light-red-text: var(--light-red-text);
    
    --color-green-btn: var(--green-btn);
    --color-yellow-star: var(--yellow-star);

    --color-sorting-green-dark: var(--sorting-green-dark);
    --color-sorting-green-light: var(--sorting-green-light);

    --color-popup-green-light: var(--popup-green-light);
    --color-popup-green-dark: var(--popup-green-dark);

    --color-popup-border-green-light: var(--popup-border-green-light);
    --color-popup-border-green-dark: var(--popup-border-green-dark);


    --title-width: calc(100% - 30px);
    --text-2xs: 0.625rem;


    --font-byekanp: 'YekanP';
    --font-byekan-persian: 'YekanPersian';
    --font-yekan: 'Yekan';
    --font-byekan: 'BYekan';
    --font-byekan-plus: 'BYekanPLUS';
    --font-vazir: 'Vazir';
    --font-iranyekan: 'IranYekan';

    --leading-4.\5: 1.125rem;
    --radius-semi: 0.625rem;
}


.scroll-snap-x {
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    touch-action: pan-x;
}

.visible-hidden {
    visibility: hidden;
}

.visible-visible {
    visibility: visible;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.transition-background-300 {
    transition: 0.3s ease background-color;
}

.transition-background-500 {
    transition: 0.5s ease background-color;
}


.transition-text-300 {
    transition: 0.3s ease text;
}

.transition-text-500 {
    transition: 0.5s ease text;
}

.transition-padding-300 {
    transition: 0.3s ease padding;
}

.transition-padding-500 {
    transition: 0.5s ease padding;
}

.transition-margin {
    transition: 0.3s ease margin;
}

.transition-opacity {
    transition: 0.3s ease opacity;
}

.transition-border-300 {
    transition: 0.3s ease border;
}

.transition-border-500 {
    transition: 0.5s ease border;
}


.transition-color-300 {
    transition: 0.3s ease color;
}

.transition-color-500 {
    transition: 0.5s ease color;
}


.scroll-snap-x {
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    touch-action: pan-x;
}


.scroll-hide::-webkit-scrollbar {
    display: none;
}

.scroll-snap-align-end {
    scroll-snap-align: end;
}

.speech-bubble {
	border-radius: .4em;
    padding-inline: 0.3rem;
	left: 1.4rem;
	padding-inline: 0.7rem;
	padding-block: 0.5rem;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.813em solid transparent;
	margin-top: -0.812em;
	left: 0;
	border-left: 0;
	border-right-color: var(--bg-speech);
	margin-left: -0.8rem;
}

.enter-animation {
    animation: slide-fade 4s;
}

.leave-animation {
    animation: slide-leave-fade 1s;
}

@keyframes slide-leave-fade {
    0% {
        opacity: 1;
        transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        transform: translateX(1em)
    }
}

@keyframes slide-fade {
    0% {
      opacity: 0;
      transform: translateX(0);
      transform: translateY(-15rem);
    }
    25% {
        opacity: 1;
        transform: translateX(0);
        transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      transform: translateY(0);
    }
}

/* sm */
@media (width >= 40rem /* 640px */) {

	.speech-bubble::after {
		left: 0;
		border-left: 0;
		border-right-color: var(--bg-speech);
		margin-left: -0.8rem;
	}
    
}


/* md */
@media (width >= 48rem /* 768px */) {
	.speech-bubble {
		left: -12rem;
	}

	.speech-bubble::after {
		content: '';
		position: absolute;
		top: 50%;
		width: 0;
		height: 0;
		border: 0.813em solid transparent;
		margin-top: -0.812em;

		left: auto !important;
		right: -0.75rem;
		border-right: 0;
		border: 0.813em solid transparent;
		border-left-color: var(--bg-speech);
		margin-right: -0.8rem;
	}
	
    
}


@font-face {
    font-family: 'YekanP';
    src: url('../public/assets/fonts/yekanp.TTF');
}

@font-face {
    font-family: 'YekanPersian';
    src: url('../public/assets/fonts/Persian-Yekan.ttf');
}

@font-face {
    font-family: 'BYekan';
    src: url('../public/assets/fonts/BYekan.ttf');
}

@font-face {
    font-family: 'Yekan';
    src: url('../public/assets/fonts/Yekan.ttf');
}

@font-face {
    font-family: 'Vazir';
    src: url('../public/assets/fonts/Vazir-Regular-FD.ttf');
}


@font-face {
    font-family: 'IranYekan';
    src: url('../public/assets/fonts/IRANYekanFN.ttf');
}

@font-face {
    font-family: 'BYekanPLUS';
    src: url('../public/assets/fonts/BYekan_Bold.ttf');
}