/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


* {
    transition: 0.4s ease all;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-white: #f2f2f2;
    --theme-black: #1a1a1a;
    
    --background: #ffffff;
    --foreground: #171717;

    --error-dark: #ba062b;
    --error-light: #fa5358;
    
    
    /* light/dark */
    --light-theme: #fafefd;
    --dark-theme: #121212;

    --light-border: #a7a9a8;
    --dark-border: #292a2a;

    --light-hover: #f1f5f4;
    --dark-hover: #1b1b1b;

    --light-text: #fefffe;
    ---dark-text: #222;

    --light-text2: #949696;
    --dark-text2: #818383;

    --dark-green-text: #1dbb7e;
    --dark-red-text: #d02633;

    --light-green-text: #1eb980;
    --light-red-text: #eb3740;


    --green-btn: #00d890;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  
    --color-error-dark: var(--error-dark);
    --color-error-light: var(--error-light);
    
    /* light/dark */
    --color-light: var(--light-theme);
    --color-dark: var(--dark-theme);

    --color-light-border: var(--light-border);
    --color-dark-border: var(--dark-border);

    --color-light-hover: var(--light-hover);
    --color-dark-hover: var(--dark-hover);
    
    --color-light-text: var(--light-text);
    --color-dark-text: var(--dark-text);
    
    --color-light-text2: var(--light-text2);
    --color-dark-text2: var(--dark-text2);


    --color-dark-green-text: var(--dark-green-text);
    --color-dark-red-text: var(--dark-red-text);
    
    --color-light-green-text: var(--light-green-text);
    --color-light-red-text: var(--light-red-text);
    
    --color-green-btn: var(--green-btn);





    --font-byekan: 'BYekan';
    --font-vazir: 'Vazir';
}

.scroll-snap-x {
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    touch-action: pan-x;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}



@font-face {
    font-family: 'BYekan';
    src: url('./assets/fonts/Yekan.ttf');
}


@font-face {
    font-family: 'Vazir';
    src: url('./assets/fonts/Vazir-Regular-FD.ttf');
}