<nav aria-label="breadcrumb" *ngIf="items?.length">
    <ol class="flex flex-row-reverse list-none gap-2 p-0 m-0 text-sm">
        <li
            *ngFor="let item of items; let last = last"
            [attr.aria-current]="last ? 'page' : null"
            class="flex items-center"
        >
            <span *ngIf="!last" class="mx-2 text-dark-text4 dark:text-light-text4">&lt;</span>
            <ng-container *ngIf="!last && item.link; else currentPage">
                <a
                    [routerLink]="item.link"
                    class="text-dark-text4 dark:text-light-text4 font-byekan-persian text-sm transition-colors duration-300"
                >{{ item.title }}</a>
            </ng-container>
    
            <ng-template #currentPage>
                <span class="font-byekan-persian text-sm text-dark-text dark:text-white transition-colors duration-300">{{ item.title }}</span>
            </ng-template>
    
        </li>
</ol>